<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title></title>
   </head>
   <body>
      <div>
         <h2 id="hdr"></h2>
         <form id="myForm" class="form-inline form-search" name="myForm">
            <label>Search for 
            <input id="in" type="text" ng-model="searchTerm" class="search-query input-medium" />
            </label> 
            <label>
               Sort by: 
               <select id="option" ng-model="orderProp">
                  <option value="volumeInfo.title">Sort by Title</option>
		  <option value="volumeInfo.publishedDate">Sort by Date</option>
               </select>
            </label>
            <button class="btn btn-primary" ng-click="doSearch()"> Search</button>
            
         </form>
         <table id="resultsTbl" class="table table-striped">
            <thead>
               <tr>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in bookResults | orderBy:orderProp">
                  <td><a ng-href="{{item.volumeInfo.infoLink}}" target="_blank"><img ng-src=
                     "{{item.volumeInfo.imageLinks.smallThumbnail}}" /></a></td>
                  <td>{{item.volumeInfo.title}}<br />
                     By: {{item.volumeInfo.authors | formatFilter}}<br />
                     Published: {{item.volumeInfo.publisher}}<br />
		     Publish Date: {{item.volumeInfo.publishedDate}}
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>